## Tuple

In [1]:
#tuple
t = (1,2,3)
print(t)
type(t)

(1, 2, 3)

tuple

In [2]:
#tuple
t = (1,2.3,'great',True)
print(t)
type(t)

(1, 2.3, 'great', True)

tuple

In [3]:
#tuple of a employee
emp_details = (101, 'swinal', 'jaipur', 50000, True)
print(emp_details)
print(type(emp_details))

(101, 'swinal', 'jaipur', 50000, True)
<class 'tuple'>

In [4]:
t1 = (1,2)
t2 = (3,4)
t = t1 + t2
print(t)

(1, 2, 3, 4)

In [5]:
print(2 in t)
print(12 in t)

True
False

In [6]:
print(len(t))

4

In [7]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [8]:
nm = 'great', 'learning', 'educom'
for i in nm:
    print(i)

great
learning
educom

In [9]:
#tuple of a employee
emp_details = (101, 'swinal', 'jaipur', 50000, True)
print(emp_details)
print(type(emp_details))
for i in emp_details:
    print(i)

(101, 'swinal', 'jaipur', 50000, True)
<class 'tuple'>
101
swinal
jaipur
50000
True

In [10]:
st = 'great312learning'
type(st)
st = tuple(st)
print(st)
print(type(st))

('g', 'r', 'e', 'a', 't', '3', '1', '2', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g')
<class 'tuple'>

In [11]:
fruits = 'orange', 'apple','cherry','apple','grapes'

for i in fruits:
       print(i)
print(len(fruits))

orange
apple
cherry
apple
grapes
5

In [12]:
print(fruits[3])

apple

In [13]:
#sorting in descending
print(sorted(fruits, reverse = True))

['orange', 'grapes', 'cherry', 'apple', 'apple']

In [14]:
emp_details = (101, 'swinal', 'jaipur', 50000, True, 101, 202)
emp_details[1:4]

('swinal', 'jaipur', 50000)

In [15]:
emp_details[::-1]  #reversing

(202, 101, True, 50000, 'jaipur', 'swinal', 101)

In [16]:
emp_details[1:]
print(emp_details[:-1])

(101, 'swinal', 'jaipur', 50000, True, 101)

In [17]:
emp_details

(101, 'swinal', 'jaipur', 50000, True, 101, 202)

In [18]:
emp_details[::-2]

(202, True, 'jaipur', 101)

In [19]:
emp_details[::-3]

(202, 50000, 101)

In [20]:
emp_details[-5:]

('jaipur', 50000, True, 101, 202)

In [21]:
i = (1,2,3,4)
nm = ('great', 'learning', 1012)
i = i+nm
i

(1, 2, 3, 4, 'great', 'learning', 1012)

## Lists

In [22]:
#lists
n = [1,2,3,'swinal',True]
print(n)
print(type(n))

[1, 2, 3, 'swinal', True]
<class 'list'>

In [23]:
for i in n:
    print(i)

1
2
3
swinal
True

In [24]:
print('swinal' in n)

True

In [25]:
tup = ('great', 1, 2)
lis = list(tup)
print(lis)
print(type(lis))

['great', 1, 2]
<class 'list'>

In [26]:
val = [1,4,3,2,5]
sorted(val)

[1, 2, 3, 4, 5]

In [27]:
nm = 'great learning'
nm = list(nm)
nm

['g', 'r', 'e', 'a', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [28]:
del nm[3]

In [29]:
nm

['g', 'r', 'e', 't', ' ', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [30]:
bn = [1,2,3,4,'great']
bn.append(5)

In [31]:
print(bn)

[1, 2, 3, 4, 'great', 5]

In [32]:
bn.clear()
bn

[]

In [33]:
bn = [1,2.3,4,5,5,5]
ls = bn.copy()
ls

[1, 2.3, 4, 5, 5, 5]

In [34]:
ls.count(5)
ls.extend(bn)
ls

[1, 2.3, 4, 5, 5, 5, 1, 2.3, 4, 5, 5, 5]

In [35]:
ls.sort()
ls

[1, 1, 2.3, 2.3, 4, 4, 5, 5, 5, 5, 5, 5]

In [36]:
ls.index(2.3)

2

In [37]:
ls.insert(5,6)

In [38]:
ls

[1, 1, 2.3, 2.3, 4, 6, 4, 5, 5, 5, 5, 5, 5]

In [39]:
ls.pop(5)
ls

[1, 1, 2.3, 2.3, 4, 4, 5, 5, 5, 5, 5, 5]

In [40]:
ls.sort(reverse = True)
ls

[5, 5, 5, 5, 5, 5, 4, 4, 2.3, 2.3, 1, 1]

In [41]:
ls[slice(2,9)]

[5, 5, 5, 5, 4, 4, 2.3]

In [42]:
ls[2::]

[5, 5, 5, 5, 4, 4, 2.3, 2.3, 1, 1]

In [43]:
#error try more
rb=['abc','def','fgh']

aw = "\n".join(rb)
print(aw)

abc
def
fgh

## Sets

In [44]:
a={1,2,2,4,3,1,1}
type(a)
a

{1, 2, 3, 4}

In [45]:
b = {2,4,3,5,6}
a|b

{1, 2, 3, 4, 5, 6}

## Dictionary

In [46]:
dict = {'Name' : 'Swinal', 'Age' : 21}

In [47]:
dict['Age']
dict[4] = 'Vrm'

In [48]:
tup = (1,2,3)
dic=dict.fromkeys(tup)
dic

{1: None, 2: None, 3: None}

In [49]:
dict2={}
dict1 = {1:2,3:4,5:6}
for i in dict1:
    dict2[i] = i
    
dict1 
print(dict2)

{1: 1, 3: 3, 5: 5}

In [50]:
print(dict1.get(3))

4

In [51]:
dict1.keys()

dict_keys([1, 3, 5])

In [52]:
dict1.items()

dict_items([(1, 2), (3, 4), (5, 6)])

In [53]:
#default keys and values in a dictionary
person = {'Name':'Swinal'}
person.setdefault('salary',5000)
nationality = person.setdefault('Nationality','Indian')
person['Age']=21

In [54]:
person

{'Age': 21, 'Name': 'Swinal', 'Nationality': 'Indian', 'salary': 5000}

In [55]:
dict1 = {1:'one',2:'three', 4:'frive'}
dict2 = {2:'two',4:'four'}

In [56]:
dict1.update(dict2)
dict1

{1: 'one', 2: 'two', 4: 'four'}

## IF else and If elif else

In [57]:
i = 100
if i>=25:
    print('i is greater')
else:
    print('i is not greater')

i is greater

In [58]:
age = int(input("Enter Age: "))
if age>=18:
    print('Eligible for voting')
else:
    print('Not Eligible')

Enter Age: 24
Eligible for voting

In [59]:
n = int(input('Enter a No.: '))
if n%2 == 0:
    print('Even')
else:
    print('Odd')

Enter a No.: 33
Odd

In [60]:
un = input('Enter username: ')
pwd = input('Enter Password: ')
if un=='gl' and pwd=='greatlearning':
    print('Access Given')
else:
    print('Access denied')

Enter username: gl
Enter Password: kfn
Access denied

In [61]:
a, b, c = -3, 102, 100
if a>0 and b>0 and c>0:
    if a>b and a>c:
        print("a is greater")
    elif b>c:
        print(' bis greater')
    else:
        print('c is greater')
else:
    print('Enter positive values')

Enter positive values

In [62]:
un = input('Enter username: ')
pwd = input('Enter Password: ')
if un!='gl' and pwd == 'greatlearning':
    print('username is wrong and psswd is ri8')
elif pwd!='greatlearning' and un=='gl':
    print('passwrod is wrong and username is right')
elif pwd!='greatlearning' and un!='gl' :
    print('Both are wrong')
else:
    print('Both are rigth')

Enter username: gl
Enter Password: ehrijlwe
passwrod is wrong and username is right

In [64]:
n = int(input('Enter a No.: '))
if n>0:
    if n%2 == 0:
        print('Even')
    else:
        print('Odd')
else:
    print('Enter positive value')

Enter a No.: -3
Enter positive value

In [71]:
def oddeven(n):
    
    if n>0:
        if n%2 == 0:
            print('Even')
        else:
            print('Odd')
    else:
        print('Enter positive value')
        oddeven(int(input()))
n= int(input('Enter the value')) 
oddeven(n)

Enter the value-3
Enter positive value
5
Odd