## Functions

In [3]:
def func1():  #defining a dfunction
    print('My first function')
func1() # calling

My first function

In [4]:
def greet():
    print('hello 1')
    print('hello 2')
greet()

hello 1
hello 2

In [5]:
# function with arguements
def f1(nm):
    print("hello",nm)
f1('Swinal')

hello Swinal

In [6]:
def add2(a,b):
    print(a+b)
add2(3,5)

8

In [7]:
a = int(input('Enter a number'))
def f3(a):
    print(a*a)
f3(a)

Enter a number5
25

In [12]:
def addt(a,b):
    print(a+b)
def subt(a,b):
    print(a-b)
def mult(a,b):
    print(a*b)
def divt(a,b):
    print(a/b)
a= int(input('Enter the a: '))
b= int(input('Enter the b: '))
addt(a,b)
subt(a,b)
mult(a,b)
divt(a,b)

Enter the a: 7
Enter the b: 5
12
2
35
1.4

In [13]:
def student(fn,ln):
    print(fn,ln)
    
#right position
student(fn = 'swinal',ln= 'meshram')

#parameter position changed
student(ln = 'meshram', fn = 'swinal')

#dicrect passing
student('swinal','meshram')

swinal meshram
swinal meshram
swinal meshram

In [16]:
def printinfo(*arg):
    print(arg)
    
    for var in arg:
        print(var)
# printinfo(10,20,10)
printinfo('great', 'learning')

('great', 'learning')
great
learning

In [23]:
def fn5(**arg):
    print(arg)
    for k,v in arg.items():
        print(k,v)
# fn5(1 =2,4 =5,6=7) 
fn5(first = 'great', mid = 'learn')

{'first': 'great', 'mid': 'learn'}
first great
mid learn

In [25]:
fn5(first_name = 'swinal', last_name='meshram')

{'first_name': 'swinal', 'last_name': 'meshram'}
first_name swinal
last_name meshram

In [34]:
fn5(a = '2', b = '5', c = '7')

{'a': '2', 'b': '5', 'c': '7'}
a 2
b 5
c 7

In [35]:
dict1 = {1:2,3:4,5:6}
dict1

{1: 2, 3: 4, 5: 6}

In [36]:
def cel_far(n):
    print('farenheit = ',n*1.8+32)
cel_far(int(input('Celsius: ')))

Celsius: 35
farenheit =  95.0

In [45]:
def cel_far1(n):
    print ('Celsius = ',n,'farenheit = ',n*1.8+32)
lst = [22.6,25.8,33.4,35]
for i in lst:
    cel_far1(i)

Celsius =  22.6 farenheit =  72.68
Celsius =  25.8 farenheit =  78.44
Celsius =  33.4 farenheit =  92.12
Celsius =  35 farenheit =  95.0

In [48]:
def cel_far1(n):
    c = n*1.8+32
#     print(c)
    return c
lst = [22.6,25.8,33.4,35]
for i in lst:
    print(cel_far1(i))

72.68
78.44
92.12
95.0

In [62]:
def greet1(x,y='english'):
    if y=='english':
        print('you know english name is', x)
    elif y=='spanish':
        print('you know spanish name is', x)  
    elif y=='german':
        print('you know german name is', x) 
    else:
        print('ohh you 1 another lang', x)

print('do you know any other than english')
t = input('y or n')
if(t=='y'):
    greet1(input('Enter name'),input('Enter lang'))
else:
    greet1(input('Enetr name:'))

do you know any other than english
y or ny
Enter nameswinal
Enter langspanish
you know spanish name is swinal

In [70]:
def fn8(*n):
    even = []
    odd = []
    for i in n:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
   
    print(odd)
    print(even)
fn8(10,12,13,14)

eve

[13]
[10, 12, 14]

In [71]:
def swap(x,y):
    return y,x
swap(8,10)

(10, 8)

## global and local variable

In [79]:
c= 18
def a(a,b):
    print(a,b)
    print(c)
def a1():
    print('val of c : ',c)

a(10,11)
a1()

10 11
18
val of c :  18

In [75]:
i = 10
def a3():
    i =5
    print('value in function',i)
print('val of i outside',i)
a3()

val of i outside 10
value in function 5

In [80]:
x= 10
print(x)
global x 
x = 5
print(x)

10
5

## lambda function

In [81]:
# lambda input expression: condition
#example
fun = lambda x,y:x if x>y else y
print(fun(3,4))

4

In [82]:
x = lambda a:a+10
print(x(10))

20

In [84]:
x = lambda a,b : a+b
x(10,20)

30

In [86]:
def table(n):
    return lambda a:a*n
n = int(input('Enter the value of n : '))
b = table(n)
for i in range(1,11):
    print(b(i))

Enter the value of n : 5
5
10
15
20
25
30
35
40
45
50

In [90]:

a = lambda x:x%2 == 0
a(10)

True

## Map

In [91]:
n = [2,10,5,11]
print(list(map(lambda x:x>10,n)))

[False, False, False, True]

In [94]:
n = [1,2,3,4]
print(list(filter(lambda x:x>2,n)))

[3, 4]

In [102]:
for i in range(1,11):
    print(list(filter(lambda x:x%2==0,i)))

TypeError: 'int' object is not iterable

In [107]:
from functools import reduce
n = [1,2,3,4]
print(reduce(lambda x,y: x*y,n))

24

In [108]:
import functools
import operator
lis = [1,2,3,5,6,7,7,4]
print('The product of list elements is : ',end='')
print(functools.reduce(operator.mul,lis))

The product of list elements is : 35280

## accumulator

In [112]:
import itertools
lis = [1,3,5,8,9]
print('sum using accumulate: ')
print(list(itertools.accumulate(lis,lambda x,y : x+y)))

sum using accumulate:
[1, 4, 9, 17, 26]